.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    width: 100%;
    padding-inline: 8px;
    padding-block: 8px;
    transition: transform 0.3s;
    &:hover{
        cursor: pointer;
        transform: translateY(-5px);
    }
    .btn{
        background: transparent;
        border: none;
        color: #fff;
        transition: transform 0.3s ease-in-out;
    
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 8px;
        padding-block: 8px;


        .titleArtist {

            display: flex;
            width:100%;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            padding-inline: 8px;
            overflow: hidden;
            // gap:4px

            p {
                margin: 0;
            }

            .artist{
                font-size: 16px;
            }
        }

    }

}