.trackContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin-top: 8px;
   .trackNo{
    display: flex;
    align-self: flex-start;
    p{
        color:rgba(255,255,255,0.6);
        font-size: 14px;
    }
   }
}