@import '../../styles/color.scss';
.container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    .logo{
      height:48px;
    }
    .content {
        padding: 20px;
        height:70vh;
        .sidebarLinks {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 32px;
            .active {
              color:$accent-color
            }
          
          }
          
          
          .sidebarLink a {
            display: flex;
            gap:16px;
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
            &:hover{
              color:$accent-color
            }
          }
          
         
         
      }
      
      

}
