@import '../../styles/color.scss';
.modal {
    width: 80%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .modelContent {
      padding-inline: 1rem;
      padding-block: 1rem;
      .playlistForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-inline: 2rem;
        padding-block: 3rem;
        
        .btns{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6rem;
          .btn {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(18px);
            -webkit-backdrop-filter: blur(18px);
            font-size: 16px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            padding-inline: 1em;
            padding-block: 0.5em;
            border-radius: 10px;
            color:#fff;
            gap: 0.5rem;
            transition: all 0.3s ease;
            &:hover {
              opacity: 0.8;
              cursor: pointer;
              transform: scale(1.05);
              background-color: var(--accent-color);
              color:#333;
            }
          }
        }
        input{
          border: none;
          outline: none;
          color:#fff;
          background-color: transparent;
        }
        .playlistName {
          padding: 10px;
          margin-bottom: 0.5rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.18);
          transition: all 0.3s ease;
          &::placeholder{
            color: rgba(255, 255, 255, 0.18);
          }
          &:focus{
            border-bottom: 1px solid var(--accent-color);
          }
      
          
        }
      }

      .heading {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.18);
        align-items: center;
        padding-block: 0.5rem;
        margin-bottom: 1rem;
        justify-content: space-between;
        .close{
          display: flex;
          align-items: center;
          &:hover{
            cursor: pointer;
          }
        }

      }
    }
  }