.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 16px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding-inline: 32px;
        input[type="range"] {
            width: 100%;
            height: 1px;
            -webkit-appearance: none;
            appearance: none;
            background: rgba(255, 255, 255, 0.4);
            outline: none;
            transition: width 0.3s;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 10px;
                height: 10px;
                background: #ff09d4;
                border-radius: 50%;
                cursor: pointer;
              }
        }


        .start {
            position: relative;
            width:80%;
            aspect-ratio: 1/1;
            box-shadow: 0 8px 32px 0 rgba(255, 9, 212, 0.37);
            &:before, &:after {
                content: '';
                position: absolute;
                left: -2px;
                top: -2px;
                background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
                    #0000ff, #00ff00,#ffff00, #ff0000);
                background-size: 400%;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                z-index: -1;
                animation: steam 20s linear infinite;
            }
            
            @keyframes steam {
                0% {
                    background-position: 0 0;
                }
                50% {
                    background-position: 400% 0;
                }
                100% {
                    background-position: 0 0;
                }
            }
            
            &:after {
                filter: blur(50px);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .picture {
            width: 80%;
            aspect-ratio: 1/1;
            box-shadow: 0 8px 32px 0 rgba(255, 9, 212, 0.37);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .metadata {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            p{
                color:#ff09d4;
            }

        }

        .controls {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 8px;

            .playebackwrapper {
                padding-inline: 8px;
                display: flex;
                gap: 8px;

                .playpause {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: #fff;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(18px);
                    -webkit-backdrop-filter: blur(18px);
                    border: 1px solid rgba(255, 255, 255, 0.18);
                }

                .skip {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border: none;
                    color: #fff;
                }
            }
        }

        .time {
            // width: 100%;
            display: flex;
            justify-content: space-between;
            gap:24px;
            align-items: center;
            color: rgba(255, 255, 255, 0.4);
            font-size: smaller;
        }

      

    }

}